<header class="header-container" [class.is-active]="navbarExpanded">
  <div class="logo-wrapper">
    <img
      src="assets/img/header/madexdame.webp"
      alt="madexdame logo"
      class="logo"
    />
  </div>

  <nav class="navigation">
    <a routerLink="/contact" class="contact-link">Contact</a>

    <div
      class="menu-toggle"
      (click)="toggleMenu()"
      [ngClass]="{ 'active': navbarExpanded }"
    >
      <div class="animated-icon" [ngClass]="{ 'open': navbarExpanded }">
        <span class="menu-line"></span>
        <span class="menu-line"></span>
        <span class="menu-line"></span>
      </div>
    </div>
  </nav>
</header>
