<div class="header-container" [class.is-active]="navbarExpanded">
  <div
    class="menu-toggle"
    (click)="toggleMenu()"
    [ngClass]="{'active': navbarExpanded}"
  >
    <div class="animated-icon1" [ngClass]="{'open': navbarExpanded}">
      <span class="menu-line"></span>
      <span class="menu-line"></span>
      <span class="menu-line"></span>
    </div>
  </div>

  <div class="col-md-2 text-center text-md-start px-4 logo-wrapper">
    <img
      src="assets/img/homepage/logo-ss-fd-cb2p.webp"
      alt="CB2P Avocats"
      class="footer-logo mb-3"
    />
  </div>

  <nav
    class="navbar navbar-expand-lg navbar-light custom-navbar"
    [ngClass]="{'is-active': navbarExpanded}"
  >
    <div class="ms-auto d-flex items-burger">
      <ul class="navbar-nav d-flex justify-content-end align-items-center">
        <li class="nav-item nav-item-homepage">
          <a
            class="nav-link nav-link-homepage"
            [routerLink]="['']"
            [class.active]="isHomepageActive()"
            (click)="closeMenu()"
          >
          Le cabinet
          </a>
        </li>
        <!-- <li class="nav-item nav-item-office">
          <a
            class="nav-link nav-link-office"
            [routerLink]="['/le-cabinet']"
            [class.active]="isOfficeActive()"
            (click)="closeMenu()"
          >
            Le cabinet
          </a>
        </li> -->
        <li class="nav-item nav-item-skills">
          <a
            class="nav-link nav-link-skills"
            [routerLink]="['/competences']"
            [class.active]="isCompetencesActive()"
            (click)="closeMenu()"
          >
            Compétences
          </a>
        </li>
        <li class="nav-item nav-item-team">
          <a
            class="nav-link nav-link-team"
            [routerLink]="['/equipe']"
            [class.active]="isEquipeActive()"
            (click)="closeMenu()"
          >
            Équipe
          </a>
        </li>
        <li class="nav-item nav-item-contact">
          <a
            class="nav-link nav-link-contact"
            [routerLink]="['/contact']"
            [class.active]="isContactActive()"
            (click)="closeMenu()"
          >
            Contactez-nous
          </a>
        </li>
        <li class="nav-item nav-item-auctions">
          <a
            class="nav-link nav-link-auctions"
            [routerLink]="['/ventes-aux-encheres']"
            [class.active]="isAuctionsActive()"
            (click)="closeMenu()"
          >
            Ventes aux enchères
          </a>
        </li>
        <li class="nav-item nav-item-linkedin">
          <a
            class="linkedin-link"
            href="https://www.linkedin.com/company/cb2pavocats/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="assets/icons/linkedin.webp"
              alt="LinkedIn"
              class="nav-link linkedin-icon"
            />
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
