<div class="full-screen-container mt-5">
  <div class="homepage-wrapper">

    <!-- ========= SECTION 1 ========= -->
    <section id="first-section" class="first-section" #firstSection>
      <div class="container">
        <div class="row justify-content-center">
          <div class="slogan-container col-auto d-flex flex-column align-items-center mt-2 mt-md-5">

            <div class="presentation d-flex align-items-center">
              <div class="col-12 col-md-6 text-center px-md-5 px-0">
                <img #logo
                     src="/assets/img/homepage/logo-ss-fd-cb2p.webp"
                     alt="CB2P Avocats"
                     class="logo px-md-5" />
              </div>

              <div #separator class="separator"></div>

              <div class="col-12 col-md-6 text-center px-md-4 px-0">
                <div class="text-box-wrapper">
                  <h1 #words class="office-skill d-flex flex-column align-items-center text-center px-md-0 pb-md-0 px-3 pb-4">
                    <span>AVOCATS</span>
                    <span>CONTENTIEUX</span>
                    <span>CONSEILS</span>
                    <span>À BORDEAUX</span>
                  </h1>
                </div>
              </div>
            </div>

            <!-- Slogan éventuel -->
            <div class="row slogan my-5 w-120">
              <div class="slogan-box col text-center mb-5 px-5"></div>
            </div>

          </div>
        </div>
      </div>
    </section>

    <!-- ========= SECTION 4 ========= -->
    <section id="fourth-section" class="fourth-section" #section4>
      <div class="container">
        <div class="row justify-content-center text-center">

          <div class="col-md-4 col-12 text-container">
            <div class="line mb-4" #line4a></div>
            <div class="title-expert">
              <h5 #title4a>{{ officeData?.title_4 }}</h5>
              <p  #subtitle4a>{{ officeData?.subtitle_4 }}</p>
            </div>
          </div>

          <div class="col-md-4 col-12 text-container">
            <div class="line mb-4" #line4b></div>
            <div class="title-expert">
              <h5 #title4b>{{ officeData?.title_5 }}</h5>
              <p  #subtitle4b>{{ officeData?.subtitle_5 }}</p>
            </div>
          </div>

          <div class="col-md-4 col-12 text-container">
            <div class="line mb-4" #line4c></div>
            <div class="title-expert">
              <h5 #title4c>{{ officeData?.title_6 }}</h5>
              <p  #subtitle4c>{{ officeData?.subtitle_6 }}</p>
            </div>
          </div>

        </div>
      </div>
    </section>

    <!-- ========= SECTION 2 ========= -->
    <section id="second-section" class="second-section">
      <div class="container">
        <div class="row my-md-5 px-md-5 justify-content-center">
          <div class="col title-skills text-center">
            <h2 #title2>{{ homepageData?.title_2 }}</h2>
          </div>
        </div>

        <div class="row justify-content-center align-items-center"
             style="cursor: pointer;" (click)="goToSkills()">
          <div class="skills col-auto d-flex align-items-center mt-3 mt-md-0">
            <p class="mb-0" #subtitle2>{{ homepageData?.subtitle_1 }}</p>
            <div class="indicator-arrow-down ms-2" #arrowRight>
              <img src="assets/icons/arrow_right.webp" alt="arrow right" />
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ========= SECTION 3 ========= -->
    <section id="third-section" class="third-section" #thirdSection>
      <div class="container">
        <div class="team row my-0 px-0 my-md-5 px-md-5 justify-content-center">
          <div class="col title-skills text-left">
            <h3 #title3>{{ homepageData?.title_3 }}</h3>
          </div>
        </div>

        <div class="row gy-4">
          <ng-container *ngFor="let lawyer of lawyersList">
            <div class="col-12 col-sm-6 col-md-4 px-2 px-md-3">
              <div class="image-container">
                <img #portrait class="img-fluid"
                     [src]="lawyer.photo"
                     [alt]="lawyer.name" />

                <div class="hover-overlay">
                  <div class="hover-text">
                    <p>{{ lawyer.name }}</p>
                    <p><small>{{ lawyer.function }}</small></p>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>

        <div class="team row justify-content-center align-items-center mt-5"
             style="cursor: pointer;" (click)="goToTeam()">
          <div class="col-auto d-flex align-items-center" #teamCallToAction>
            <p class="mb-0">{{ homepageData?.subtitle_2 }}</p>
            <div class="indicator-arrow-down ms-2">
              <img src="assets/icons/arrow-right-white.webp" alt="arrow right" />
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ========= SECTION 6 ========= -->
    <section id="sixth-section" class="sixth-section" #section6>
      <div class="container mb-5">
        <div class="row justify-content-center">
          <div class="col-auto d-flex flex-column align-items-center">
            <div class="hero-section d-flex flex-column align-items-center p-5">
              <div class="row slogan my-5 w-100">
                <div class="col text-center mb-5">
                  <h4 #title6>{{ officeData?.title_8 }}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
</div>
