<footer class="site-footer py-5 py-md-3">
  <div class="container">
    <div class="row g-5 align-items-center py-4">
      <div class="col-md-3 text-center text-md-start mb-4 mb-md-0 px-5">
        <img
          src="assets/img/homepage/logo-ss-fd-cb2p.webp"
          alt="CB2P Avocats"
          class="footer-logo mb-3"
        />
      </div>

      <div class="footer-menu-large col-md-4 text-center text-md-start mb-4 mt-5 mb-md-0">
        <ul class="footer-menu list-unstyled mb-3">
          <li><a routerLink="/">Accueil</a></li>
          <li><a routerLink="/le-cabinet">Le cabinet</a></li>
          <li><a routerLink="/comptétences">Compétences</a></li>
          <li><a routerLink="/équipe">Équipe</a></li>
          <li><a routerLink="/contact">Contactez-nous</a></li>
        </ul>

        <a
          href="https://www.linkedin.com/company/cb2pavocats/"
          target="_blank"
          rel="noopener noreferrer"
          class="linkedin-link"
          (click)="openLinkedIn($event)"
        >
          <img
            src="assets/icons/linkedin.webp"
            alt="LinkedIn"
            class="linkedin-icon"
          />
        </a>
      </div>

      <div class="col-auto d-none d-md-flex justify-content-center px-0">
        <div class="vertical-separator"></div>
      </div>

      <div class="col-md-4 text-center text-md-start mb-4 mb-md-0 pe-0">
        <p class="footer-address">
          14, rue de la Verrerie<br />
          33000 Bordeaux<br />
          tel. +33 (0)5 56 48 07 80<br />
          tel. +33 (0)5 56 52 21 93<br />
        </p>
      </div>
    </div>

    <div class="row pt-1">
      <div class="col text-center px-5 px-md-0">
        <p class="footer-mention px-5 px-md-0">
          Site web par
          <a href="https://www.lucjaubert.com" target="_blank">LJ Studio Web</a> |
          <a routerLink="/centre-de-confidentialite">Mentions légales & centre de confidentialité</a>
        </p>
      </div>
    </div>
  </div>
</footer>
